<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sc.statistics">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application>
        <meta-data
            android:name="fc_auto_tracker_app_id"
            android:value="你的appid" />
    </application>

</manifest>
